{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}

{% set serviceName = "HMCTS Task Manager" %}
{% set serviceUrl = "/" %}

{% block pageTitle %}HMCTS Task Manager{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName,
    serviceUrl: serviceUrl
  }) }}
{% endblock %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
